	table#tbl_prod{
		width: 99%;
		margin-top: 40px;
	}
	table#tbl_prod td{
		text-align: center;
		padding: 10px;
		}../../public/uploads/img_blog/
	}
	img#add_img{
		width: 180px;
		height: 120px;
		display: inline-block;
		float: left;
	}
	input#image_list{
		opacity: 0;
		display: inline-block;
		position: absolute;
	}
	div#img_child{
		margin: 0px 6px;
		display: inline-block; 
		width: 100px; 
		height: 100px;
	}
.remove{
	color: white;
	text-align: center;
	background-color: red;
	padding: 0 36.5px
}
