a#back{
	display: inline-block;
	float: right;
	margin-right: 30px 
}	
p#title_div{
	display: inline-block;

}
div#list_address{
	width: 100%;
	border: 1px solid black;
	height: 300px
}
table#list_address{
	width: 97%;
	margin: auto;;
	border: 1px solid black;
	text-align: center;
}
p#title{
	text-align:center;
}
div#add_address{
	width: 97%;
	height: 300px;
	padding-left: 50px;
	border: 1px solid black;
}
div#edit_address{
	width: 97%;
	height: 300px;
	border: 1px solid black;
	padding-left: 50px;
}
input.form-control{
	width: 50%;
}
input#add{
	margin-top:20px;
}
td.value{
	padding: 0;
}