#container {
			height: 400px; 
		}

		.highcharts-figure, .highcharts-data-table table {
			min-width: 310px; 
			max-width: 800px;
			margin: 1em auto;
		}

		.highcharts-data-table table {
			font-family: Verdana, sans-serif;
			border-collapse: collapse;
			border: 1px solid #EBEBEB;
			margin: 10px auto;
			text-align: center;
			width: 100%;
			max-width: 500px;
		}
		.highcharts-data-table caption {
			padding: 1em 0;
			font-size: 1.2em;
			color: #555;
		}
		.highcharts-data-table th {
			font-weight: 600;
			padding: 0.5em;
		}
		.highcharts-data-table td, .highcharts-data-table th, .highcharts-data-table caption {
			padding: 0.5em;
		}
		.highcharts-data-table thead tr, .highcharts-data-table tr:nth-child(even) {
			background: #f8f8f8;
		}
		.highcharts-data-table tr:hover {
			background: #f1f7ff;
		}

		li.dropdown.head-dpdn {
			margin-left: 22px;
		}
		table.tbl_order{
			width: 98%;
			border: 2px ;
			margin: auto;
		}
		h3#title{
			text-align: center;
			font-size: 40px;
			margin: 30px 0; 
		}
		div.link{
			background-color: #c8c7c7;
			width: 100%;
			height:50px; 
			line-height: 50px;
			padding-left: 20px;
			color: black
		}
		a.link{
			color: black
		}

		img#img_prod{
			width: 60px;
			height: 60px
		}
		td.title{
			font-weight: 900;
			font-size: 16px
		}
		.fa-pencil-alt{
			color: green
		}
		.fa-trash{
			color: red
		}
		input.status{
			width: 190px;
			text-align: center;
			padding: 12px;
			margin: auto;
			background-color: #fd8c8c;
			color: white;
			border-radius: 10px;
		}
		input.status-yes{
			width: 190px;
			text-align: center;
			padding: 12px;
			margin: auto;
			background-color: green;
			color: white;
			border-radius: 10px;
			border: 1px solid white;
		}
		div.status-yes{
			width: 190px;
			text-align: center;
			padding: 12px;
			margin: auto;
			background-color: green;
			color: white;
			border-radius: 10px;
		}
		div.status{
			width: 190px;
			text-align: center;
			padding: 12px;
			margin: auto;
			background-color: #fd8c8c;
			color: white;
			border-radius: 10px;
		}
		.w3layouts-right {
			background: #fff;
		}
		li.dropdown.head-dpdn i {
			color: #000;
		}
		i.fa.fa-angle-down {
			color: #000 !important;
		}
		.profile_details_drop.open .fa.fa-angle-up {
			display: block;
			color: #000 !important;
		}
		.img-user{
			border: 2px solid gray; padding: 1px
		}