
/*đánh giá sao*/
.ratingStarContainer{
  direction : rtl;
  float : left;
  text-align : left;
  display: inline-block;
}
.ratingStarContainer  input[type="radio"]{
  display: none;
}
.ratingStarContainer i{
  color: #dddddd;
  cursor: pointer;
}
.ratingStarContainer  input[type="radio"]:checked ~ label  i{
  color: #FFD700;
}
.fa-star:before {
    content: "\f005";
    font-size: 15px;
}
/**/
.detail h1{
  font-size: 23px;
}
.detail-span {
  border-right: 2px  solid #ccc;
}
.detail-star-span span{
  margin-left: 10px;
  font-size: 14px;
}
.detail-button button{
  border: none;
    color: white;
    padding: 10px 30px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    margin-top: 5px;
}
.detail-content h3{
    color: red;
}
button.btn-1{
    background: #cd1218;
}
button.btn-2{
    background: #ffae00
}
button.btn-3{
    color: black;
    background: #fff;
}
.sku-wrapper{
    display: block;
    line-height: 33px;
    margin: 0;
    font-weight: 500;
}
.sku-wrapper span{
    font-weight: 400;
    display: inline-block;
    color: #888;
}

.ct-banner{
}

.ct-info{
    background: #ddd;
}
/* Example starts here */
:root {
  --bgcolor: #fff;
  --border-color: #4cc8f1;
  --tab-active-bgcolor: #fff;
  --label-active-color: #0f4571;
}
.tabs {
  background: var(--bgcolor);
  display: flex;
  flex-flow: row wrap;
}
.tabs > label {
  background: rgba(183, 212, 223, .6);
  /*border: 1px solid transparent;*/
  border-radius: 4px 4px 0 0;
  color: #999;
  cursor: pointer;
  margin: 0 .3em -1px -1px;
  outline: 1px solid transparent; /* MS Edge outline ghost */
  padding: .7em 1em;
}
.tabs > label:first-of-type {
  margin-left: 0;
}
.tabs > label > i {
  margin-right: .5em;
}
.tabs input[type="radio"]:not(:checked) + label:hover {
  color: var(--label-active-color);
}
.tabs > div {
/*   margin-top: -1px; */
  order: 1;
  padding: 1em;
  width: 100%;
}
.tabs input[type="radio"],
.tabs > div {
  display: none;
}
.tabs input[type="radio"]:checked + label {
  background: var(--tab-active-bgcolor);
  border-left: 1px solid var(--border-color);
  border-top: 1px solid var(--border-color);
  border-right: 1px solid var(--border-color);
  box-shadow: 0 -5px var(--border-color);
  color: var(--label-active-color);
  font-weight: 900; /* same as FontAwesome */
  z-index: 1;
}
.tabs input[type="radio"]:checked + label + div {
  background: var(--tab-active-bgcolor);
  display: block;
  min-height: 156px;
}

@media screen and (max-width: 767px) {
  .tabs > label {
    margin: 13px .3em -1px -1px;
  }
}

.ct-info-content{
    font-size: 14px;
}
