/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
:root {
    --theme-color: #067ae6;
    --text-color: #666666;
    --title-color: #333333;
    --white-color: #ffffff;
}

/* reset code */
html {
    scroll-behavior: smooth;
}

ul,
ol {
    padding: 0;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

* {
    box-sizing: border-box;
}

.wrapper-full {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.wrapper {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .wrapper {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .wrapper {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .wrapper {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        max-width: 1140px;
    }
}

.clear {
    clear: both;
}

.img-responsive,
img {
    max-width: 100%;
}

.d-grid {
    display: grid;
}

.d-flex {
    display: flex;
    display: -webkit-flex;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

button,
select {
    outline: none;
    appearance: none;
    -webkit-appearance: none;
}

button,
.btn,
select {
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
    text-decoration: none;
}

iframe {
    border: none;
}

ul {
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.p-fixed {
    position: fixed;
}

.p-sticky {
    position: sticky;
}

/* reset code */

.signin-form {
    background: url(../images/bg.jpg) no-repeat 0px 0px;
    background-size: cover;
}

.overlay {
    background: linear-gradient(to right, rgb(29, 75, 174), rgba(219, 71, 53, 0.85));
    padding: 4rem 0;
}

a.brand-logo {
    color: var(--white-color);
    font-weight: bold;
    font-size: 38px;
    text-transform: uppercase;
}

.top-bottom-gap {
    padding: 0 0 2rem 0;
}

.form34 {
    margin: 0 auto;
    border: 1px solid #eee;
    padding: 2rem;
    background: var(--white-color);
    width: 502px;
}

.signin {
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 27px;
    color: var(--white-color);
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 3px;
}

.facebook {
    background: #3a5898;
    margin-right: 5px;
}

.google-plus {
    background: #dd4b39;
    margin-left: 5px;
}

.signin span {
    font-size: 20px;
    margin-right: 10px;
}

.main-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.form-head {
    font-size: 35px;
    color: var(--title-color);
    line-height: 40px;
}

.form-para {
    font-style: normal;
    font-weight: normal;
    margin-bottom: 20px;
    margin-top: 10px;
    color: var(--text-color);
    font-size: 18px;
    line-height: 24px;
}

.checkbox {
    width: 16px;
    height: 16px;
    color: #F5F9FC;
    background: #304659;
    float: left;
}

.input {
    margin-bottom: 10px;
    margin-top: 5px;
    outline: none;
    width: 100%;
    height: 45px;
    background: var(--white-color);
    color: #000000;
    border: 1px solid #d4d4d4;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 45px;
    padding-left: 15px;
    padding-right: 15px;
}

.input:focus {
    outline: none;
    border: 1px solid var(--theme-color);
}

.text-head {
    margin-top: 15px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: var(--title-color);
}


.signinbutton {
    background: var(--title-color);
    color: var(--white-color);
    font-size: 16px;
    text-transform: capitalize;
    margin-top: 30px;
    padding: 15px 25px;
    border: none;
    display: block;
    width: 100%;
    transition: 0.3s ease-in;
}

.signinbutton:hover {
    background: var(--theme-color);
    transition: 0.3s ease-in;
}

.signup {
    margin-top: 33px;
    color: var(--text-color);
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 25px;
}

.signuplink {
    color: var(--theme-color);
    margin-left: 5px;
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
    display: inline-block;
}

.signuplink:hover {
    text-decoration: underline;
}

.form-34or span.pros {
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: -8.4px;
    display: inherit;
}

span.pros span {
    background: #fff;
    padding: 0 8px;
    display: inline-block;
    color: #d4d4d4;
    text-transform: uppercase;
}


.form-34or {
    margin-bottom: 27px;
    text-align: center;
    border-bottom: 1px solid #d4d4d4;
}

.remember {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 16px 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: var(--text-color);
}


.remember input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
}


.remember:hover input~.checkmark {
    background-color: #ccc;
}


.remember input:checked~.checkmark {
    background: var(--theme-color);
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.remember input:checked~.checkmark:after {
    display: block;
}


.remember .checkmark:after {
    left: 8px;
    top: 3px;
    width: 3px;
    height: 9px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.copyright p {
    font-size: 15px;
    color: #ccc;
    line-height: 20px;
    margin-top: 2rem;
}

.copyright p a {
    color: var(--white-color);
}

.copyright p a:hover {
    text-decoration: underline;
}

/* responsive design */
@media (max-width: 992px) {
    .grid-column-2 {
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 40px;
    }

    .input,
    .signinbutton {
        width: 100%;
    }
}

@media (max-width: 736px) {
    a.brand-logo {
        font-size: 35px;
    }

    .overlay {
        padding: 2.5rem 0;
    }

    .form-head {
        font-size: 30px;
    }
}

@media (max-width: 576px) {
    .grid-column-2 {
        grid-template-columns: 1fr;
        grid-row-gap: 30px;
    }

    .column1 {
        align-self: center;
        order: 2;
    }

    .column2 {
        order: 1;
    }

    .form34 {
        padding: 1rem;
    }

    .overlay {
        padding: 2rem 0;
    }

    a.brand-logo {
        font-size: 30px;
    }

    .top-bottom-gap {
        padding: 0 0 1rem 0;
    }

    .form-head {
        font-size: 28px;
    }
}

/* responsive design */
